[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
